
AmigaGraphicsViewer/.vs/AmigaGraphicsViewer/v15/Server/sqlite3/storage.ide-wal
AmigaGraphicsViewer/.vs/AmigaGraphicsViewer/v15/Server/sqlite3/storage.ide-shm
AmigaGraphicsViewer/.vs/AmigaGraphicsViewer/v15/Server/sqlite3/storage.ide
AmigaGraphicsViewer/.vs/AmigaGraphicsViewer/v15/Server/sqlite3/db.lock
AmigaGraphicsViewer/.vs/AmigaGraphicsViewer/v15/.suo
AmigaGraphicsViewer/AmigaGraphicsViewer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AmigaGraphicsViewer/AmigaGraphicsViewer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AmigaGraphicsViewer/AmigaGraphicsViewer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AmigaGraphicsViewer/AmigaGraphicsViewer/obj/Debug/AmigaGraphicsViewer.csprojAssemblyReference.cache
AmigaGraphicsViewer/AmigaGraphicsViewer/obj/Debug/AmigaGraphicsViewer.csproj.CoreCompileInputs.cache
MemoryViewer/MemoryViewer/MemoryViewer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MemoryViewer/MemoryViewer/MemoryViewer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MemoryViewer/MemoryViewer/MemoryViewer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MemoryViewer/MemoryViewer/MemoryViewer/obj/Debug/MemoryViewer.csproj.FileListAbsolute.txt
MemoryViewer/MemoryViewer/MemoryViewer/obj/Debug/DesignTimeResolveAssemblyReferences.cache
MemoryViewer/MemoryViewer/MemoryViewer/bin/Debug/MemoryViewer.vshost.exe
MemoryViewer/MemoryViewer/MemoryViewer/bin/Debug/MemoryViewer.vshost.exe.config
MemoryViewer/MemoryViewer/MemoryViewer/bin/Debug/MemoryViewer.vshost.exe.manifest
